package user

import (
    "context"
    "github.com/serdarfirlayis/echo-framework-tutorial.git/echo-with-frontend-basics/view/layout"
    "github.com/serdarfirlayis/echo-framework-tutorial.git/echo-with-frontend-basics/model"
    "github.com/serdarfirlayis/echo-framework-tutorial.git/echo-with-frontend-basics/view/components"
)

func getAuthenticatedUser(c context.Context) string {
    user, ok := c.Value("user").(string)
    if !ok {
        return ""
    }
    return user
}

templ Show(user model.User) {
    <h1>
        {getAuthenticatedUser(ctx)}
    </h1>
    @layout.Base() {
	    <h1>hello {user.Email} from the user page</h1>
	    @components.Input("email", "email")
    }
}